make
*.o
build.sh
config.h
config.log
config/Makefile
config.status
.deps
.deps/alloca.Po
.deps/ar.Po
.deps/arscan.Po
.deps/commands.Po
.deps/default.Po
.deps/dir.Po
.deps/expand.Po
.deps/file.Po
.deps/function.Po
.deps/getloadavg.Po
.deps/getopt1.Po
.deps/getopt.Po
.deps/guile.Po
.deps/hash.Po
.deps/implicit.Po
.deps/job.Po
.deps/loadapi.Po
.deps/loadavg-getloadavg.Po
.deps/load.Po
.deps/main.Po
.deps/misc.Po
.deps/output.Po
.deps/posixos.Po
.deps/read.Po
.deps/remake.Po
.deps/remote-cstms.Po
.deps/remote-stub.Po
.deps/rule.Po
.deps/signame.Po
.deps/strcache.Po
.deps/variable.Po
.deps/version.Po
.deps/vmsjobs.Po
.deps/vpath.Po
doc/Makefile
glob/.deps
glob/.deps/fnmatch.Po
glob/.deps/glob.Po
glob/Makefile
Makefile
po/Makefile
po/Makefile.in
po/POTFILES
stamp-h1
w32/compat/.deps
w32/compat/.deps/libw32_a-posixfcn.Po
w32/.deps
w32/.deps/libw32_a-pathstuff.Po
w32/.deps/libw32_a-w32os.Po
w32/Makefile
w32/subproc/.deps
w32/subproc/.deps/libw32_a-misc.Po
w32/subproc/.deps/libw32_a-sub_proc.Po
w32/subproc/.deps/libw32_a-w32err.Po
